html, body{
    height: 100%;
    color: white;
    font-size: 16px;
    background-color: #000;
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    overflow: hidden;
    position: relative;
}

.footer {
    flex-shrink: 0;
    border-top: 10px solid #222222;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.landing-header{
    display: flex;
    padding-top: .5rem;
    height: auto;
    position: relative;
    margin: 0 3.5rem;
}

.header-logo {
    float: left;
    flex: 50%;
}

#logo{
    height: 50px;
}

.header-right {
    float: right;
}

.login-btn{
    border: none;
    border-radius: 12px;
    background-color: #e50914;
    color: white;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.login-btn:hover{
    background-color: #e42e37;
}

.bg-img{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.main-content{
    margin: 100px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:max-content;
}

.row{
    width: 100%;
}

.email-input{
    border-radius: 0%;
    border: none;
    height: 40px;
    width: 300px;
    margin: 0%;
}

.email-input:focus {
    border: 1px solid #555;
}

.register-btn{
    border-radius: 0%;
    border: none;
    height: 42px;
    width: 150px;
    margin: 0%;
    cursor: pointer;
    background-color: #e50914;
    color: white;
}

.register-btn:hover{
    background-color: #e42e37;
}

.footer .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer .footer-links .link-1:before {
    content: none;
  }
  
  .footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer p.footer-links a:hover{text-decoration:underline;}


  #forgot-pass {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
  }
  #card {
    background: #111111;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }
  #card-content {
    padding: 12px 44px;
  }
  #card-title {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }
  #signup {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
  }
  #submit-btn {
    background: -webkit-linear-gradient(right, #e42e37, #e50914);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #e42e37;
    cursor: pointer;
    color: white;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px #080808;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-border {
    background: -webkit-linear-gradient(right, #e42e37, #e50914);
    height: 1px;
    width: 100%;
  }
  .form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  .underline-title {
    background: -webkit-linear-gradient(right, #e42e37, #e50914);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
  }
  